.workspace_button{
    transform: rotate(270deg);
    width: max-content;
    padding: 12px 20px;
    background-color: white;
    &:hover{
        color: #535AF1;
        cursor: pointer;
    }
}

.open_workspace{
    transform: rotate(90deg);
}

.close_workspace{
    transform: rotate(270deg);
}

.open{
    left: -115px;
}

.close{
    left: -103px;
}