@media (max-width: 1024px) {
  mat-sidenav-container {
    padding-left: 0 !important;
  }

  mat-sidenav {
    width: 100% !important;
    max-width: 100% !important;
  }

  mat-sidenav-content {
    display: none !important;
  }
}
