<app-aside-content-wrapper>
  <div topRight class="flex flex-col items-end gap-2">
    <p>Zurück zur Anmeldung?</p>
    <a routerLink="/login" class="dab-anchor-on-bg -mr-4">Anmelden</a>
  </div>

  <div card>
    @if (isProcessingVerification) {
      <div class="mb-4">
        <h1>E-Mail wird bestätigt</h1>
        <p class="paragraph-20">Bitte warte einen Moment, während wir deinen Bestätigungslink prüfen.</p>
      </div>

      <div class="flex justify-center">
        <a routerLink="/login" class="dab-btn-secondary">Zur Anmeldung</a>
      </div>
    } @else {
      @if (verificationErrorMessage) {
        <div class="mb-4">
          <h1>Bestätigung nicht möglich</h1>

          <p class="dab-inline-error">
            {{ verificationErrorMessage }}
          </p>

          <p class="paragraph-20">Bitte versuche es erneut oder fordere einen neuen Bestätigungslink an.</p>
        </div>

        <div class="flex justify-center">
          <a routerLink="/login" class="dab-btn-secondary">Zur Anmeldung</a>
        </div>
      } @else {
        <div class="mb-4">
          <h1>E-Mail bestätigt</h1>
          <p class="dab-inline-info">Vielen Dank. Dein Konto ist nun aktiviert.</p>
        </div>

        <div class="flex justify-center">
          <a routerLink="/main" class="dab-btn-secondary">Weiter zum Devspace</a>
        </div>
      }
    }
  </div>
</app-aside-content-wrapper>
